mixin page(classes)
    div(class=classes[0])
        a(class=classes[1] href="#") السابق
        a(class=classes[1] href="#") 1
        a(class=classes[1] href="#") 2
        a(class=classes[1] href="#") 3
        a(class=classes[1] href="#") التالي
